@charset "UTF-8";
/* CSS Document */

@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;900&family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&family=Young+Serif&display=swap');

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Inter", sans-serif;
  max-width: 1240px;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  color: #444;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #333;
}

h1, h2, h3 {
  font-family: MD Primer Bold,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
}

p {
  font-family: Blanco, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
}

.header {
  height: 80px;
  max-width: inherit;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}

.logo {
  padding-left: 2rem;
}

.nav {
  padding-right: 2rem;
}

.links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.header .nav .links-container li {
	list-style: none;
}

.dropbtn {
  border: none;
  background-color: transparent;
}

.header .nav .links-container li a, .dropbtn {
	display: block;
	color: #4c4c4c;
	font-size: 14px;
  text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	text-decoration: none;
	padding: .5rem .75rem;
  border-radius: 14px;
}

.header .nav .links-container li a:hover:not(.active), .dropdown:hover .dropbtn {
  color: #fff;
	background-color: #9911dd;
	text-decoration: underline;
	text-decoration-color: #fff;
}

.header .nav .links-container li .active {
  color: #fff;
  background-color: #9911dd;
}

.dropdown {
  overflow: hidden;
}

.dropdown-content {
  display: none;
  justify-content: flex-start;
  position: absolute;
  background-color: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  padding-left: 0;
}

.main {
  position: relative;
  z-index: -10;
  top: 90px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #30303a;
}

.top {
  width: 100%;
  margin-bottom: 1rem;
  padding: 2rem;
  background-color: #fff001;
  color: #30303a;
}

.columns {
  display: flex;
  column-gap: 1rem;
  color: #30303a;
}

.col-1, .col-2, .col-3 {
  padding: 2rem;
  margin-bottom: 1rem;
}

.col-1 {
  margin-right: 0;
  background-color: #ff0101;
}

.col-2 {
  background-color: #0101fd;
}

.col-3 {
  background-color: 	#f9f9f9;
}

.footer {
  width: 100%;
  padding: 2rem;
  background-color: #fff001;
  color: #30303a;
}


@media screen and (max-width: 768px){
  .columns {
    display: flex;
    flex-wrap: wrap;
  }
}
