@charset "UTF-8";
/* CSS Document */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


body {
	margin: 0;
	padding: 0;
}

.hero-wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

