@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: font-titel;
	src: url("../fonts/Helvetica-BlackItalic Regular.ttf");
}

h2 {
	font-family: font-titel;
	width: 100%;
	text-align: center;
	padding: 2rem;
	color: white;
}

h3 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: .85rem;
}


.header {
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.header > logo {
	padding: 1.25rem;
}

.main {
/*	width: 80%;*/
    margin: 0 auto;
    padding: 2rem;
	background-color: midnightblue;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.nav-bar {
    /* display: inline; */
    /* flex-direction: row; */
    width: 70%;
	font-family: font-titel, "sans-serif";
}

.nav-bar > ul {
	padding: 1.25rem;
	display: flex;
	flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-end;
}

.nav-bar > ul > li {
	margin-left: 2rem;
}

a {
	color: #232369;
	padding: .5rem;
}

a:hover {
	color: #fff;
	background-color: #232369;
	transition: all 0.5s ease-out;
}

a:link {
	text-decoration-line: none;
}

.logos-wrapper {
/*	width: 50%;*/
/*	margin: 0 auto;*/
/*	margin-bottom: 4rem;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.images-svg, .images-png {
/*
	width: 100%;
	height: auto;
*/
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.logo-svg-sm {
	width: 150px;
}

.logo-svg-md {
	width: 250px;
}

.logo-svg-lg {
	width: 350px;
}

.logo-svg-xl {
	width: 600px;
}

.logo-png-sm {
	width: 150px;
}

.logo-png-md {
	width: 250px;
}

.logo-png-lg {
	width: 350px;
}

.logo-png-xl {
	width: 600px;
}

img {
	width: 100%;
}


@media screen and (max-width: 816px) {
	.main {
		display: flex;
		flex-direction: column;
	}
	
	.images-svg, .images-png {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}


